nav, .links-list {
    margin-top: 0;
    padding-top: 10px;
}

/* buttons in navigation bar on top */
.links-list a{
    background-color: orange;
    margin-right: 1em;
    text-decoration: none;
    padding: 5px 10px;
}

.links-list {
    display: flex;
    list-style: none;
}

.links-list a:hover {
    background-color: rgb(52, 129, 155);
    color: white;
}